<a href = "/" ><h1>Jessica's Burgers </h1> </a>


<h2>Add New Ingredient POST request</h2>
<form class = "inStock" action="getIngredient" method="POST">
  Price: $<input type="text" name="price"/><br/>
  Ingredients: <br>
  <input type="radio" name="name" value="Bun" checked/>Bun<br/>
  <input type="radio" name="name" value="Cheese"/>Cheese<br/>
  <input type="radio" name="name" value="Beef Patty"/>Beef Patty<br/>  
  <input type="radio" name="name" value="Tomato"/>Tomato<br/>
  <input type="radio" name="name" value="Lettuce"/>Lettuce<br/>
  <input type="radio" name="name" value="Onion"/>Onion<br/>
  <input type="radio" name="name" value="Ketchup"/>Ketchup<br/>
  <input type="radio" name="name" value="Mushroom"/>Mushroom<br/>
  <input type="radio" name="name" value="Avocado"/>Avocado<br/>
  <input type="radio" name="name" value="Bacon"/>Bacon<br/>
  <input type="radio" name="name" value="SecretSauce"/>Secret Sauce<br/>
  Other: <input type="text" name="name"/> <br/>
  
  <input type="submit" value="Submit">
</form>


{{#each newIngredient}}
<h3>{{this.name}}</h3>
{{/each}}

<h3>In Stock</h3>
<div id="in">
  {{#each inStock}}
    <form class="inStock" id={{this._id}} action="outOfStock" method="POST">
      <span>{{this.name}}  -  ${{this.price}}</span>
      <input type="button" class="edit" value="Edit">
      <input type="submit" class="submit" value="Out of Stock">
    </form>
  {{/each}}
</div>

<h3>Out Of Stock</h3>
<div id="out">
  {{#each outOfStock}}
    <form class="outOfStock" id={{this._id}} action="inStock" method="POST">
      <span>{{this.name}} - ${{this.price}}</span>
      <input type="button" class="edit" value="Edit">
      <input type="submit" class="submit" value="Restock">
    </form>
  {{/each}}
</div>
<!--
<h3>New Ingredient</h3>
<div id="new">
  <form id="newIngredient" action="addIngredient" method="POST">
    Ingredient: <input type="text" id="name">
    Price: $<input type="text" id="price">
    <input type="submit" class="submit" value="Add">
  </form>
</div>

-->

