<a href = "/" ><h1>Jessica's Burgers </h1> </a>
<h3> Welcome!</h3>

<div id="in">
	<form class="orderForm" action="newOrder" method="POST">
		
		What is your name: <input type = "text" name = "customerName"></input>
		<h3>Build your personalized burger out of these available ingredients!</h3>
 	
    	{{#each inStock}}
    		<p class="options">
    		<input type = "checkbox" name = {{this.name}} value = {{this.price}} onclick='handleClick(this);'>
    		<span>{{this.name}}  -  ${{this.price}}</span></p></input>
    		<!--{{this.price}} 
    		ingredientSelected = {{this.name}} -->
     		
     		
     		
     	{{/each}}
         <input type="submit" class="submit" value="Order" >
    </form>



 
</div>

{{#each newOrder}}
    <h3>{{this.name}} {{this.ingredients}} {{this.cost}} </h3>
{{/each}}